<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Project Two WIP</title>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="customstyle.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	{{!-- Add in jQuery --}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="script.js"></script>
	</body>
</html>