<div class="row center">
    <div class="col-2">
        <div class="card text-center">
            <img id="add-card-img" src="{{this.poster}}" class="card-img-top" alt="...">
            <div id="add-card-body" class="card-body">
                <h5 id="add-card-title" class="card-title">{{this.title}}</h5>
                <p id="add-card-text" class="card-text">{{this.plot}}</p>
                <a id="add-submit" href="#" class="btn btn-primary">Go somewhere</a>
                <a id="add-cancel" href="#" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</div>