<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Movie Clubs</h1>
    <p class="lead">Its like a drive-in movie theater, but on your couch!</p>
  </div>
</div>
<form method="GET" role="form">
  <div class="form-group">
    <label for="search">Search a movie or tv show!</label>
    <input type="text" class="form-control" id="search">
  </div>
  <button id="search-btn" type="submit" class="btn btn-primary">Submit</button>
</form>